* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styleForm {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

textarea {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid #4abebe;
}
